.about {
    background-color: var(--container-color);
    transition: background-color .4s;
}

.about__container {
    row-gap: 0;
}

.about__perfil {
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;
}

.about__image {
    width: 220px;
}

.about__img {
    position: relative;
    border: 4px solid var(--white-color);
    z-index: 1;
    filter: grayscale(.15)
}

.about__shadow,
.about__line,
.about__box {
    position: absolute;
}

.about__shadow {
    width: 220px;
    height: 320px;
    background-color: var(--white-color);
    top: -.5rem;
    left: -.5rem;
    transition: background-color .4s;
}

.about__perfil .geometric-box {
    top: 1.5rem;
    right: -2.8rem;
}

.about__line {
    filter: invert(1);
    right: -1.25rem;
    top: 6rem;
    width: 50px;
    transition: filter .4s;
}

.about__box {
    /* width: 40px;
    height: 40px;
    background-color: var(--first-color);
    right: -.5rem;
    bottom: 1.5rem; */
}

.about__info {
    padding-left: 1.25rem;
}

.about__description {
    position: relative;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}


.about__description::after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: var(--title-color);
    position: absolute;
    left: -1.75rem;
    top: .5rem;
}

.about__list {
    list-style: square;
    color: var(--title-color);
    margin-bottom: 3rem;
}

.about__list b {
    background: linear-gradient(90deg,
        hsla(188, 98%, 50%, 0.3),
        hsla(14, 98%, 50%, 0));
}

/* ---------BUTTONS--------- */

.about__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.button,
.button__ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.button {
    background-color: var(--black-color);
    padding: 1.1rem 1.5rem;
    color: var(--white-color);
    transition: background-color .4s;
}

.button i {
    font-size: 1.25rem;
}

.button:hover {
    background-color: var(--first-color);
}

.button__ghost {
    border: 3px solid var(--black-color);
    color: var(--black-color);
    padding: .5rem;
    transition: border .4s, color .4s;
}

.button__ghost i{
    font-size: 1.25rem;
}

.button__ghost:hover {
    border-color: var(--first-color);
    color: var(--first-color);
}